/* Mobile */

@media(max-width:760px) {
    .activitycardtitle-div {
        height: min-content;
        width: max-content;
        align-self: center;
        justify-self: center;
    }
    .activitycardtitle-div-open {
        height: min-content;
        width: max-content;
        align-self: center;
        position: absolute;
        /* top: 2vh;
        left: 10vw; */
    }
    .activitycardtitle-div-open-highlight {
        height: min-content;
        width: max-content;
        align-self: center;
        /* position: absolute; */
        /* background-color: wheat; */
        /* top: 2vh;  */
        /* margin-left: 8vw;  */
    }
    .activitycardtitle-h2 {
        color: #9D9BB6;
        font-family: "Nunito-Regular";
        font-weight: 400;
        margin-left: 2vw;
        font-size: 2vh;
    }
    .activitycardtitle-highlight {
        color: #1884FF;
        font-family: "Nunito-Regular";
        font-weight: 900;
        margin-left: 2vw;
        font-size: 2vh;
    }
}


/* Desktop */

@media(min-width:761px) {
    .activitycardtitle-div {
        /* background-color: thistle; */
        height: min-content;
        width: max-content;
        align-self: center;
    }
    .activitycardtitle-div-open {
        height: min-content;
        width: max-content;
        align-self: center;
        position: absolute;
        top: 2vh;
        left: 4vw;
    }
    .activitycardtitle-div-open-highlight {
        height: min-content;
        width: max-content;
        align-self: center;
    }
    .activitycardtitle-h2 {
        color: #9D9BB6;
        font-family: "Nunito-Regular";
        font-weight: 400;
        margin-left: 1vw;
        font-size: 2vh;
    }
    .activitycardtitle-highlight {
        color: #1884FF;
        font-family: "Nunito-Regular";
        font-weight: 900;
        margin-left: 1vw;
        font-size: 2vh;
    }
}