/* Mobile */

@media(max-width:760px) {
    .activitycardtitle-div {
        height: min-content;
        width: 65vw;
        align-self: center;
        justify-self: center;
    }
    .activitycardtitle-div-open {
        height: min-content;
        width: 65vw;
        font-family: "Nunito-Regular";
        align-self: center;
        position: absolute;
    }
    .activitycardtitle-h2 {
        color: #9D9BB6;
        font-family: "Nunito-Regular";
        font-weight: 400;
        margin-left: 2vw;
        font-size: 2vh;
    }
    .activitycard-open-content {
        width: 60vw;
        flex-wrap: wrap;
        margin-top: 4vh;
        margin-left: 3vw;
        font-family: "Nunito-Regular";
        color: #103460;
    }
}


/* Desktop */

@media(min-width:761px) {
    .activitycardtitle-div {
        /* background-color: thistle; */
        height: min-content;
        width: max-content;
        align-self: center;
    }
    .activitycardtitle-div-open {
        height: min-content;
        width: max-content;
        align-self: center;
        position: absolute;
        top: 2vh;
        left: 4vw;
    }
    .activitycardtitle-h2 {
        color: #9D9BB6;
        font-family: "Nunito-Regular";
        font-weight: 400;
        margin-left: 1vw;
        font-size: 2vh;
    }
    .activitycard-open-content {
        width: 70vw;
        flex-wrap: wrap;
        font-family: "Nunito-Regular";
        color: #103460;
    }
}