.arroicon-div{    
    /* left: -60px; */
    align-self: center;
    position: relative;
}

.arrow-img{
    height: 20px;
    width: 30px;
    object-fit: contain;
    left: 0px;
    align-items: center;
}