.colorball-div{
    background-color: #FED300;
    height: 1.5vh;
    width: 1.5vh;
    border-radius: 200px;
    align-self: center;
    justify-content: center;
    margin-top: 0.5vh;
}

.colorball-incomplete-div{
    background-color: #FF7A4F;
    height: 1.5vh;
    width: 1.5vh;
    margin-top: 0.5vh;
    border-radius: 200px;
    align-self: center;
    justify-content: center;
}