/* Mobile */

@media(max-width:760px) {
    .dashboardtitle-h1 {
        font-size: 3.8vh;
        font-family: "gotham-medium";
        font-weight: 100;
        color: white;
        width: max-content;
        /* background-color: wheat; */
        bottom: 13vh;
        left: 8vw;
        position: relative;
    }
    .dashboardtitle-h1-warning {
        font-size: 2vh;
        font-family: "gotham-medium";
        font-weight: 100;
        color: white;
        width: max-content;
        /* background-color: wheat; */
        /* bottom: 25vh; */
        /* left: 1vw; */
        margin-left: 6vw;
        display: flex;
        align-self: center;
        align-content: center;
        align-items: center;
        justify-self: center;
        justify-items: center;
        justify-content: center;
        position: relative;
    }
    .dashboardtitle-h1-warning {
        font-size: 2vh;
        font-family: "gotham-medium";
        font-weight: 500;
        color: white;
        width: max-content;
        /* background-color: wheat; */
        /* bottom: 25vh; */
        /* left: 1vw; */
        margin-left: 6vw;
        display: flex;
        align-self: center;
        align-content: center;
        align-items: center;
        justify-self: center;
        justify-items: center;
        justify-content: center;
        position: relative;
    }
    .dashboardtitle-h1-subwarning {
        font-size: 1.8vh;
        font-family: "gotham-medium";
        font-weight: 50;
        color: white;
        width: max-content;
        /* background-color: wheat; */
        /* bottom: 25vh; */
        /* left: 1vw; */
        margin-left: 2vw;
        display: flex;
        align-self: center;
        align-content: center;
        align-items: center;
        justify-self: center;
        justify-items: center;
        justify-content: center;
        position: relative;
    }
}


/* Desktop */

@media(min-width:761px) {
    .dashboardtitle-h1 {
        font-size: 3.8vh;
        font-family: "gotham-medium";
        font-weight: 100;
        color: white;
        width: 30vw;
        /* background-color: wheat; */
        bottom: 25vh;
        left: 16vw;
        position: relative;
    }
    .dashboardtitle-h1-warning {
        font-size: 2vh;
        font-family: "gotham-medium";
        font-weight: 100;
        color: white;
        width: max-content;
        /* background-color: wheat; */
        /* bottom: 25vh; */
        /* left: 1vw; */
        margin-left: 6vw;
        display: flex;
        align-self: center;
        align-content: center;
        align-items: center;
        justify-self: center;
        justify-items: center;
        justify-content: center;
        position: relative;
    }
    .dashboardtitle-h1-warning {
        font-size: 2vh;
        font-family: "gotham-medium";
        font-weight: 500;
        color: white;
        width: max-content;
        /* background-color: wheat; */
        /* bottom: 25vh; */
        /* left: 1vw; */
        margin-left: 6vw;
        display: flex;
        align-self: center;
        align-content: center;
        align-items: center;
        justify-self: center;
        justify-items: center;
        justify-content: center;
        position: relative;
    }
    .dashboardtitle-h1-subwarning {
        font-size: 1.8vh;
        font-family: "gotham-medium";
        font-weight: 50;
        color: white;
        width: max-content;
        /* background-color: wheat; */
        /* bottom: 25vh; */
        /* left: 1vw; */
        margin-left: 2vw;
        display: flex;
        align-self: center;
        align-content: center;
        align-items: center;
        justify-self: center;
        justify-items: center;
        justify-content: center;
        position: relative;
    }
}