.divider-div{
    background-color: #E8E8ED;
    width: 14vw;
    height: 0.25vh;
    margin-top: 2.5vh;
    margin-left: 1vw;
}
.divider-activity-div{
    background-color: #E8E8ED;
    width: 68vw;
    height: 0.25vh;
    margin-left: 1vw;
    align-self: center;
}

.divider-progress-div{
    background-color: #E8E8ED;
    width: 49vw;
    height: 0.25vh;
    margin-left: 1vw;
    align-self: center;
}