/* Mobile */

@media screen and (max-width:480px) {
    .divider-div {
        background-color: #E8E8ED;
        width: 48vw;
        height: 0.25vh;
        margin-top: 1.5vh;
        margin-left: 1vw;
        align-self: center;
    }
    .divider-activity-div {
        background-color: #E8E8ED;
        width: 68vw;
        height: 0.25vh;
        margin-left: 1vw;
        align-self: center;
    }
    .divider-progress-div {
        background-color: #E8E8ED;
        width: 49vw;
        height: 0.25vh;
        margin-left: 1vw;
        align-self: center;
    }
}


/* tablet */

@media screen and (min-width:481px) and (max-width:760px) {
    .divider-div {
        background-color: #E8E8ED;
        width: 50vw;
        height: 0.25vh;
        margin-top: 1.5vh;
        margin-left: 1vw;
        align-self: center;
    }
    .divider-activity-div {
        background-color: #E8E8ED;
        width: 68vw;
        height: 0.25vh;
        margin-left: 1vw;
        align-self: center;
    }
    .divider-progress-div {
        background-color: #E8E8ED;
        width: 49vw;
        height: 0.25vh;
        margin-left: 1vw;
        align-self: center;
    }
}


/* Desktop */

@media screen and (min-width:761px) {
    .divider-div {
        background-color: #E8E8ED;
        width: 14vw;
        height: 0.25vh;
        margin-top: 0.5vh;
        margin-left: 1vw;
        align-self: flex-start;
    }
    .divider-activity-div {
        background-color: #E8E8ED;
        width: 68vw;
        height: 0.25vh;
        margin-left: 1vw;
        align-self: center;
    }
    .divider-progress-div {
        background-color: #E8E8ED;
        width: 49vw;
        height: 0.25vh;
        margin-left: 1vw;
        align-self: center;
    }
}