/* Mobile */

@media(max-width:760px) {
    .eventsslidebutton-div {
        height: 4.25vh;
        width: 6vh;
        background-color: white;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        cursor: pointer;
        margin-top: 25vh;
        margin-left: 2vw;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }
    .eventsslidebutton-div:hover .eventsslidebutton-img {
        height: 2.75vh;
        width: 2.75vh;
    }
    .eventsslidebutton-div-right {
        height: 4.25vh;
        width: 6vh;
        background-color: white;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        cursor: pointer;
        margin-top: 25vh;
        margin-right: -23vw;
        right: 35.5vw;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }
    .eventsslidebutton-div-activity {
        display: none;
    }
    .eventsslidebutton-div-activity:hover {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }
    .eventsslidebutton-div-activity:hover .eventsslidebutton-img {
        height: 2.75vh;
        width: 2.75vh;
    }
    .eventsslidebutton-div-right:hover .eventsslidebutton-img {
        height: 2.75vh;
        width: 2.75vh;
    }
    .eventsslidebutton-img {
        height: 2vh;
        width: 2vh;
        object-fit: contain;
    }
}


/* Desktop */

@media(min-width:761px) {
    .eventsslidebutton-div {
        height: 4.25vh;
        width: 6vh;
        background-color: white;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        cursor: pointer;
        margin-top: 17vh;
        margin-left: 2vw;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }
    .eventsslidebutton-div:hover .eventsslidebutton-img {
        height: 2.75vh;
        width: 2.75vh;
    }
    .eventsslidebutton-div-right {
        height: 4.25vh;
        width: 6vh;
        background-color: white;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        cursor: pointer;
        margin-top: 17vh;
        margin-right: 1vw;
        right: 35.5vw;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }
    .eventsslidebutton-div-activity {
        align-self: center;
        height: 4.25vh;
        width: 6vh;
        background-color: rgba(157, 155, 182, 0.17);
        border-radius: 5px;
        cursor: pointer;
        /* margin-top: 2vh; */
        margin-left: 1vw;
        /* right: 35.5vw;  */
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }
    .eventsslidebutton-div-activity:hover {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }
    .eventsslidebutton-div-activity:hover .eventsslidebutton-img {
        height: 2.75vh;
        width: 2.75vh;
    }
    .eventsslidebutton-div-right:hover .eventsslidebutton-img {
        height: 2.75vh;
        width: 2.75vh;
    }
    .eventsslidebutton-img {
        height: 2vh;
        width: 2vh;
        object-fit: contain;
    }
}