/* Mobile */
@media(max-width:760px){

    .iconmenu-div{
        width: 4vw;
        height: 5vh;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 2vh; 
        margin-top: 0.5vh;
        transition: 0.1s;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        align-self: center;
    }
    
    .iconmenu-div-bold{
        width: 4vw;
        height: 5vh;
        padding-top: 2vh;
        background-color:#005EFF;
        transition: 0.1s;
    }
    
    .iconmenu-img{
        height: 2.5vh;   
        width: 4vw; 
        object-fit: contain;
        position: relative;
        transform: scale(1);
        transition: 0.5s;
        cursor: pointer;
        align-self: center;   
    }
    
    
    .iconmenu-img-bold{
        height: 2.5vh;   
        width: 4vw;
        object-fit: contain;
        position: relative;
        transform: scale(1.1);
        transition: 0.5s;
        cursor: pointer;
    }
    
    .iconmenu-img:hover{
        transform: scale(1.15); 
    }
    
    .iconmenu-div:hover .iconmenu-img{
        transform: scale(1.15); 
      }
    
    .iconmenu-div:hover{
        background-color: #005EFF;
    }

}
/* Desktop */
@media(min-width:761px){
    .iconmenu-div{
        width: 4vw;
        height: 5vh;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 2vh; 
        margin-top: 0.5vh;
        transition: 0.1s;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        align-self: center;
    }
    
    .iconmenu-div-bold{
        width: 4vw;
        height: 5vh;
        padding-top: 2vh;
        background-color:#005EFF;
        transition: 0.1s;
    }
    
    .iconmenu-img{
        height: 2.5vh;   
        width: 4vw; 
        object-fit: contain;
        position: relative;
        transform: scale(1);
        transition: 0.5s;
        cursor: pointer;
        align-self: center;   
    }
    
    
    .iconmenu-img-bold{
        height: 2.5vh;   
        width: 4vw;
        object-fit: contain;
        position: relative;
        transform: scale(1.1);
        transition: 0.5s;
        cursor: pointer;
    }
    
    .iconmenu-img:hover{
        transform: scale(1.15); 
    }
    
    .iconmenu-div:hover .iconmenu-img{
        transform: scale(1.15); 
      }
    
    .iconmenu-div:hover{
        background-color: #005EFF;
    }
}


