/* Mobile */

@media(max-width:760px) {
    .learningsubtitle-div {
        position: absolute;
        color: #9D9BB6;
        display: block;
        margin-left: 3vw;
        margin-bottom: 5vh;
    }
    .span-learnignsubtitle {
        font-family: "gilroy";
        font-size: 2.7vw;
        font-weight: 900;
    }
}


/* Desktop */

@media(min-width:761px) {
    .learningsubtitle-div {
        /* margin-top: 1.5vh;     */
        position: absolute;
        /* padding-left: 0px; */
        color: #9D9BB6;
        display: block;
        margin-left: 1.6vw;
        margin-bottom: 5vh;
        /* background-color: lawngreen; */
    }
    .span-learnignsubtitle {
        font-family: "gilroy";
        font-size: 1.8vh;
        font-weight: 900;
    }
}