.learningsubtitle-div{
    margin-top: 20px;    
    position: relative;   
    padding-left: 40px;
    color: #9D9BB6;
}

.span-learnignsubtitle{
    font-family: "Nunito-Regular";
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 900;
}