
  /* Mobile */
@media(max-width:760px){
  .mylogo-img{
    height: 10vh;
    width: 30vw;
    object-fit: contain;
    margin-left: 15vw;
  }
}
/* Desktop */
@media(min-width:761px){
  .mylogo-img{ 
    height: 10vh;
    width: 12vw;
    object-fit: contain;
    left: 0px;
  }
}