/* Mobile */

@media(max-width:760px) {
    .mytitle-h1 {
        font-size: 3.8vh;
        font-family: "gotham-medium";
        font-weight: 50;
        color: #103460;
        bottom: 0px;
        align-self: center;
    }
    .mytitle-h1-events {
        font-size: 4.7vh;
        font-family: "gotham-medium";
        font-weight: 50;
        color: white;
        bottom: 0px;
        align-self: center;
        margin-top: -4vh;
    }
    .mytitle-h1-progress {
        font-size: 3.7vh;
        font-family: "gilroy-bold";
        font-weight: 600;
        color: white;
        align-self: center;
        justify-content: center;
    }
    .mytitle-h1-progress-hour {
        font-size: 5.9vh;
        font-family: "gilroy-bold";
        font-weight: 600;
        color: white;
        align-self: center;
        justify-content: center;
    }
}


/* Desktop */

@media(min-width:761px) {
    .mytitle-h1 {
        font-size: 3.8vh;
        font-family: "gotham-medium";
        font-weight: 50;
        color: #103460;
        bottom: 0px;
        align-self: center;
    }
    .mytitle-h1-events {
        font-size: 5vh;
        font-family: "gotham-medium";
        font-weight: 50;
        color: white;
        bottom: 0px;
        align-self: center;
        margin-top: -4vh;
    }
    .mytitle-h1-progress {
        font-size: 3.7vh;
        font-family: "gilroy-bold";
        font-weight: 600;
        color: white;
        align-self: center;
        justify-content: center;
    }
    .mytitle-h1-progress-hour {
        font-size: 5.9vh;
        font-family: "gilroy-bold";
        font-weight: 600;
        color: white;
        align-self: center;
        justify-content: center;
    }
}