/* Mobile */

@media(max-width:760px) {
    .names-div {
        height: min-content;
        width: max-content;
        align-self: center;
        display: flex;
        justify-self: center;
    }
    .names-div-open {
        height: min-content;
        width: max-content;
        align-self: center;
        position: absolute;
        display: flex;
        top: 7.5vh;
        left: 12.5vw;
    }
    .names-div-open-highlight {
        height: min-content;
        width: max-content;
        align-self: center;
    }
    .names-h2 {
        color: #1884FF;
        font-family: "Nunito-Regular";
        font-weight: 900;
        margin-left: 2vw;
        font-size: 1.8vh;
    }
    .names-connector {
        color: #9D9BB6;
        font-family: "Nunito-Regular";
        font-weight: 900;
        margin-left: 1vw;
        font-size: 1.8vh;
    }
}


/* Desktop */

@media(min-width:761px) {
    .names-div {
        height: min-content;
        width: max-content;
        align-self: center;
        display: flex;
        justify-self: center;
    }
    .names-div-open {
        height: min-content;
        width: max-content;
        align-self: center;
        position: absolute;
        display: flex;
        top: 2vh;
        left: 21.5vw;
    }
    .names-div-open-highlight {
        height: min-content;
        width: max-content;
        align-self: center;
        position: absolute;
        top: 2vh;
        left: 4vw;
    }
    .names-h2 {
        color: #1884FF;
        font-family: "Nunito-Regular";
        font-weight: 900;
        margin-left: 1vw;
        font-size: 2vh;
    }
    .names-connector {
        color: #9D9BB6;
        font-family: "Nunito-Regular";
        font-weight: 900;
        margin-left: 1vw;
        font-size: 2vh;
    }
}