.profile-pic{
    height: 7vh;    
    object-fit: contain;
    position: relative;
    transform: scale(1);
    transition: 0.5s;
    cursor: pointer;
    align-self: center;
}

.profile-pic:hover{    
    transform: scale(1.1); 
}