.search-input-div{
  margin-top:15px; 
  margin-left: 300px;
  margin-right: 50px;  
}

.magnify-icon{
  height: 20px;
  width: 25px;
  object-fit: contain;
  position: relative;
  left: -90px;
}

input{
    height: 60px;
    width: 250px;
    color:#9D9BB6;
    font-family: "Nunito-Regular";
    font-size: 20px;
    background-color: #F5F5FA;
    border:none;
    /* margin-left: 60px;
    margin-right: 50px; */
    padding-right: 80px;
    padding-left: 20px;
}