.subtitle-div{       
    position: relative;     
    margin-top: 0.5vh;   
    margin-left: 0.6vw;
}

.span-subtitle{
    font-family: "Nunito-Regular";
    font-size: 2.2vh;
    margin-right: 10px;
    margin-left: 10px;
    color: #3E3A6F;
}