
.textbutton-div{
    height: 6vh;
    width: 10vh;
    padding-top: 0.5vh;
    background-color: #3D83FF;
    color: white;
    display: block;
    justify-content: center;
    border-radius: 15px;
    font-family: "gotham-medium";
    align-content: center; 
    align-self: center;
    display: flex;
    align-items: center;
    font-size: 1.7vh;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
    margin-right: 3.5vw;
    font-weight: 100;
}

.textbutton-div:hover{
    background-color:#FE9B00;
    font-size: 1.9vh;
}
