
.todayeventcard-div{
    width: 23.8vw;
    height: 15vh;
    background-color: white;
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.025);
    border-radius: 10px;        
    box-sizing: border-box;
    position: relative;   
    display: block; 
    margin-bottom: 2.5vh;
    right: -57vw; 
}