/* Mobile */

@media screen and (max-width:480px) {
    .todayeventcard-div {
        width: 40vw;
        height: 23vh;
        background-color: white;
        box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.025);
        border-radius: 10px;
        /* box-sizing: border-box; */
        position: relative;
        display: block;
        margin-bottom: 2.5vh;
        margin-right: 1.5vw;
        margin-left: 1.5vw;
    }
}


/* tablet */

@media screen and (min-width:481px) and (max-width:760px) {
    .todayeventcard-div {
        width: 40vw;
        height: 25vh;
        background-color: white;
        box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.025);
        border-radius: 10px;
        box-sizing: border-box;
        position: relative;
        display: block;
        margin-bottom: 2.5vh;
        margin-right: 1.5vw;
        margin-left: 1.5vw;
    }
}


/* Desktop */

@media screen and (min-width:761px) {
    .todayeventcard-div {
        width: 23.8vw;
        height: 15vh;
        background-color: white;
        box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.025);
        border-radius: 10px;
        box-sizing: border-box;
        position: relative;
        display: block;
        margin-bottom: 2.5vh;
        right: -57vw;
    }
}