/* Mobile */

@media screen and (max-width:480px) {
    .todayeventtitle-div {
        position: relative;
        padding-left: 5vw;
        margin-top: -1vh;
        color: #192452;
    }
    .todayeventtitle-h2 {
        font-family: "gilroy-bold";
        font-size: 2.1vh;
        /* margin-right: 10px; */
        margin-left: 1vw;
        font-weight: 900;
    }
}


/* tablet */

@media screen and (min-width:481px) and (max-width:760px) {
    .todayeventtitle-div {
        position: relative;
        padding-left: 5vw;
        margin-top: -1vh;
        color: #192452;
    }
    .todayeventtitle-h2 {
        font-family: "gilroy-bold";
        font-size: 2.4vh;
        margin-right: 10px;
        margin-left: 10px;
        font-weight: 900;
    }
}


/* Desktop */

@media screen and (min-width:761px) {
    .todayeventtitle-div {
        position: relative;
        padding-left: 6.5vw;
        margin-top: -2vh;
        color: #192452;
    }
    .todayeventtitle-h2 {
        font-family: "gilroy-bold";
        font-size: 2.3vh;
        margin-right: 10px;
        margin-left: 10px;
        font-weight: 900;
    }
}