/* Mobile */

@media(max-width:760px) {
    .activityheader-div {
        display: flex;
        flex-direction: row;
    }
}


/* Desktop */

@media(min-width:761px) {
    .activityheader-div {
        display: flex;
        flex-direction: row;
    }
}