/* Mobile */

@media(max-width:760px) {
    .circularprogressbar-div {
        height: 20vh;
        width: 20vh;
        /* background-color: #FED300; */
        background-color: transparent;
        align-self: center;
        justify-content: center;
    }
    .circular {
        border-radius: 100%;
        background-color: tomato;
        height: 20vh;
        width: 20vh;
        box-sizing: border-box;
    }
    .inner {
        z-index: 5;
        border-radius: 100%;
        height: 16vh;
        width: 16vh;
        left: 10%;
        top: 10%;
        background-color: #192E7C;
        position: relative;
        display: inline-block;
        align-items: center;
    }
    .number {
        left: 33%;
        z-index: 5;
        top: -42%;
        position: relative;
        display: inline-block;
        align-items: center;
        font-family: 'gilroy-bold';
        color: white;
        font-size: 4vh;
    }
    .cicle {
        width: 20vh;
        height: 20vh;
        background-color: turquoise;
        z-index: 20;
        display: inline-block;
    }
    .barleft {
        width: 10vh;
        height: 18vh;
        background-color: #FED200;
        position: absolute;
        margin-top: -20.25vh;
        border-radius: -100%;
        right: 20vw;
        z-index: 1;
        transform-origin: center left;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        transform: rotate(180deg);
        -webkit-transform-origin: center left;
    }
}


/* Desktop */

@media(min-width:761px) {
    .circularprogressbar-div {
        height: 20vh;
        width: 20vh;
        /* background-color: #FED300; */
        background-color: transparent;
        align-self: center;
        justify-content: center;
    }
    .circular {
        border-radius: 100%;
        background-color: tomato;
        height: 20vh;
        width: 20vh;
        box-sizing: border-box;
    }
    .inner {
        z-index: 5;
        border-radius: 100%;
        height: 16vh;
        width: 16vh;
        left: 10%;
        top: 10%;
        background-color: #192E7C;
        position: relative;
        display: inline-block;
        align-items: center;
    }
    .number {
        left: 33%;
        z-index: 5;
        top: -42%;
        position: relative;
        display: inline-block;
        align-items: center;
        font-family: 'gilroy-bold';
        color: white;
        font-size: 4vh;
    }
    .cicle {
        width: 20vh;
        height: 20vh;
        background-color: turquoise;
        z-index: 20;
        display: inline-block;
    }
    .barleft {
        width: 10vh;
        height: 18vh;
        background-color: #FED200;
        position: absolute;
        margin-top: -20.3vh;
        border-radius: -100%;
        right: 66.2vw;
        z-index: 1;
        transform-origin: center left;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        transform: rotate(180deg);
        -webkit-transform-origin: center left;
    }
}