.events-title-div{
    /* background-color: thistle; */
    position: relative;
    width: 20vw;
    left: 7.5vw;
    top: 18vh;
}
.events-title-time-div{
       /* background-color: thistle; */
       position: relative;
       width: 12vw;
       left: 39vw;
       top: 10vh;
}