/* Mobile */

@media screen and (max-width:480px) {
    .profile-actions-div {
        visibility: hidden;
        position: absolute;
    }
}


/* tablet */

@media screen and (min-width:481px) and (max-width:760px) {
    .profile-actions-div {
        visibility: hidden;
        position: absolute;
    }
}


/* Desktop */

@media screen and (min-width:761px) {
    .profile-actions-div {
        display: flex;
    }
}