/* Mobile */

@media screen and (max-width:480px) {
    .progressitem-div {
        background-color: white;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.05);
        height: 11vh;
        width: 40vw;
        border-radius: 5px;
        margin-left: 2vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        display: flex;
        justify-content: space-between;
    }
    .progressitem-highlight-div {
        background-color: #1884FF;
        box-shadow: 1px 1px 5px 2px rgba(24, 132, 255, 0.54);
        height: 11vh;
        width: 40vw;
        margin-left: 2vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
    }
}


/* tablet */

@media screen and (min-width:481px) and (max-width:760px) {
    .progressitem-div {
        background-color: white;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.05);
        height: 11vh;
        width: 35vw;
        border-radius: 5px;
        margin-left: 2vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        display: flex;
        justify-content: space-between;
    }
    .progressitem-highlight-div {
        background-color: #1884FF;
        box-shadow: 1px 1px 5px 2px rgba(24, 132, 255, 0.54);
        height: 11vh;
        width: 35vw;
        margin-left: 2vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width:761px) {
    .progressitem-div {
        background-color: white;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.05);
        height: 11vh;
        width: 15vw;
        border-radius: 5px;
        margin-left: 1.2vw;
        display: flex;
        justify-content: space-between;
    }
    .progressitem-highlight-div {
        background-color: #1884FF;
        box-shadow: 1px 1px 5px 2px rgba(24, 132, 255, 0.54);
        height: 11vh;
        width: 15vw;
        border-radius: 5px;
        margin-left: 1.2vw;
        display: flex;
        justify-content: space-between;
    }
}