.events-div{
    display: block;
    flex-direction: column;
}

.eventssection-div{
    display: block;
}

.eventssection-div-top{
    display: flex;   
    /* background-color: aqua;  */
    /* justify-self: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    align-content: center;
    align-items: center; */
}

.events-activities-div{
    margin-top: -33vh;
}