.events-div{
    display: block;
    flex-direction: column;
}

.eventssection-div{
    display: block;

}

.eventssection-div-top{
    display: flex;    
}

.events-activities-div{
    margin-top: -33vh;
}