/* Mobile */

@media(max-width:760px) {
    .events-div {
        display: block;
        flex-direction: column;
    }
    .eventssection-div {
        display: block;
    }
    .eventssection-div-top {
        display: flex;
        flex-direction: column;
    }
}


/* Desktop */

@media(min-width:761px) {
    .events-div {
        display: block;
        flex-direction: column;
    }
    .eventssection-div {
        display: block;
    }
    .eventssection-div-top {
        display: flex;
    }
}