@media screen and (max-width:480px) {
    .layout-children {
        width: auto;
        background-color: #F5F5FA;
        display: flex;
        padding: 3.5vh 9.5vw 0 6vw;
        flex-direction: column;
        padding-bottom: 2vh;
    }
}

@media screen and (min-width:481px) and (max-width:760px) {
    .layout-children {
        width: auto;
        background-color: #F5F5FA;
        /* background-color: tomato; */
        display: flex;
        padding: 3.5vh 9.5vw 0 6vw;
        flex-direction: column;
        padding-bottom: 2vh;
    }
}

@media screen and (min-width:761px) {
    .layout-children {
        width: auto;
        margin-left: 3.5vw;
        background-color: #F5F5FA;
        display: flex;
        padding: 14vh 9.5vw 0 6vw;
        flex-direction: column;
        padding-bottom: 5vh;
    }
}