/* Mobile */

@media screen and (max-width:480px) {
    .events-activities-div {
        margin-top: 0vh;
        display: flex;
    }
}


/* tablet */

@media screen and (min-width:481px) and (max-width:760px) {
    .events-activities-div {
        margin-top: 0vh;
        display: flex;
    }
}


/* Desktop */

@media screen and (min-width:761px) {
    .events-activities-div {
        margin-top: -33vh;
    }
}