/* Mobile */

@media(max-width:760px) {
    .events-activities-div {
        margin-top: 0vh;
        display: flex;
    }
}


/* Desktop */

@media(min-width:761px) {
    .events-activities-div {
        margin-top: -33vh;
    }
}