/* Mobile */

@media screen and (max-width:480px) {
    .myheader-profileactions {
        visibility: hidden;
    }
    .myheader-searchinput {
        visibility: hidden;
    }
    .myheader-div {
        width: 100vw;
        height: 20vh;
        /* background-color: thistle;                         */
        box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-wrap: row wrap;
        box-sizing: border-box;
    }
    .myheader-profile-div {
        /* background-color: teal; */
        display: flex;
        flex-direction: row;
    }
}


/* tablet */

@media screen and (min-width:481px) and (max-width:760px) {
    .myheader-profileactions {
        visibility: hidden;
    }
    .myheader-searchinput {
        visibility: hidden;
    }
    .myheader-div {
        width: 100vw;
        height: 20vh;
        /* background-color: thistle; */
        box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-wrap: row wrap;
        box-sizing: border-box;
    }
    .myheader-profile-div {
        /* background-color: teal; */
        display: flex;
        flex-direction: row;
    }
}


/* Desktop */

@media screen and (min-width:761px) {
    .myheader-div {
        width: 100vw;
        height: 10vh;
        background-color: #FFFFFF;
        padding-left: 1vw;
        padding-right: 2.5vw;
        padding-top: 0px;
        box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
        z-index: 5;
        position: fixed;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .myheader-profile-div {
        z-index: 5;
        display: flex;
        flex-direction: row;
    }
}